@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #D9DBF1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    height: auto;
    width: 40%;
    background-color: #F9F9ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    margin-top: -30%;
}

#header {
    font-size: 1.6rem;
}

.form {
    margin: 1rem 0rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .inputfield {
    background-color: #fff !important;
    width: 70%;
    margin-right: 10px;
}

.form .inputfield, .form button {
    padding: 0.5rem;
    outline: none;
    background-color: #7D84B2;
    border-radius: 5px;
    border: 1px solid lightgray;
    opacity: 0.7;
}

.form button {
    color: white;
    cursor: pointer;
}

.form button:hover {
    background-color: #7D84B2;
    color:#fff;
    opacity: 1;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  :checked + label {
    text-decoration: line-through;
    color: grey;
}

#footer {
    height: 3rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #7D84B2;
    display: flex;
    justify-content: center;
    align-items: center;

}

#footer a {
    text-decoration: none;
    color: #fff;
}