@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #C571D9;
}

.container {
    width: 400px;
    background-color:#fff;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 60px;
}

#task-class {
    line-height: auto;
    display: block;
}

input, button {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #4A4B4E;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer a, footer a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

footer a:hover{
    color: #d87093;
}